.button {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    color: var(--white);
    background-color: var(--blue-light);
    border-radius: 4px;
    padding: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .2s linear;
}

.button:hover,
.button:focus {
    border: none;
    background-color: var(--blue-dark);
}

.button_clear {
    color: var(--gray-main);
    background-color: var(--white);
}

.button_clear:hover,
.button_clear:focus {
    color: var(--white);
}

.button_clear:hover:not(.button_active) img,
.button_clear:focus:not(.button_active) img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(62deg) brightness(108%) contrast(101%);
}

.button_active {
    color: var(--white);
    background-color: var(--blue-light);
}

.button_active:hover,
.button_active:focus {
    background-color: var(--blue-light);
}
