.categories {
    display: flex;
    align-items: center;
    gap: 2px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 4px;
}

.categories::-webkit-scrollbar {
    display: none;
}

.categories > li {
    flex-shrink: 0;
    height: 100%;
}

.categories > li > * {
    height: 100%;
    padding-inline: 8px;
}

.skeleton {
    min-width: 100px;
    height: 100%;
}