@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('./assets/styles/reset.css');

:root {
    --white: #fff;
	--gray-light: #efeef4;
	--gray-main: #5c6970;
	--gray-dark: #2e3438;
	--blue-light: #3625ff;
	--blue-dark: #0c0099;
	--red: #d35151;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}